<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="93.1.14" targetFramework="net48" />
  <package id="cef.redist.x86" version="93.1.14" targetFramework="net48" />
  <package id="CefSharp.Common" version="93.1.140" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="93.1.140" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>